* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #f2f2f2, #dfdef4, #c5ccf8, #a5bcfb, #78adff);
    font-family: 'Barlow', sans-serif;
}

nav {
    background: transparent;
    height: 80px;
    width: 100%;
}

label.logo {
    color: black;
    font-size: 40px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

a:hover {
    font-size: 25px;
    transition: 0.5s ease-in-out;
    color: orange;
}

.checkBtn {
    font-size: 26px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 952px) {
    label.logo {
        font-size: 34px;
        padding-left: 55px;
    }

    nav ul li a {
        font-size: 19px;
    }
}

@media(max-width: 800px) {
    label.logo {
        font-size: 28px;
        padding-left: 40px;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkBtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to right, #f2f2f2, #dfdef4, #c5ccf8, #a5bcfb, #78adff);
        top: 80px;
        left: -100%;
        text-align: center;
    }

    a:hover {
        background: none;
        font-size: 22px;
        color: orange;
    }

    #check:checked~ul {
        left: 0px;
    }

    #check:checked~label {
        left: 0px;
        transform: rotate(90deg);
    }
}